<app-navbar></app-navbar>
<section style="font-family: Oswald, Helvetica;">
    <div class="main-content">
        <h4 class="title">administrator panel</h4>
        <h4><a (click)="redirectAllProducts()">Product Managment</a></h4>
        <h4><a (click)="redirectAllCategories()">Product Categories</a></h4>
        <h4><a (click)="redirectAllCustomers()">Customer Managment</a></h4>
        <h4><a (click)="redirectAllOrders()">Customer Orders</a></h4>
        <h4><a (click)="redirectAllMessages()">Customer Messages</a></h4>
    </div>
</section>