<app-navbar></app-navbar>
<div class="container">
    <h2>Administrator Panel</h2>
    <ul class="centered">
        <li>
            <h4><a (click)="redirectAllProducts()">Product Management</a></h4>
        </li>
        <li>
            <h4><a (click)="redirectAllCategories()">Product Categories</a></h4>
        </li>
        <li>
            <h4><a (click)="redirectAllCustomers()">Customer Management</a></h4>
        </li>
        <li>
            <h4><a (click)="redirectAllOrders()">Customer Orders</a></h4>
        </li>
    </ul>
</div>