<app-navbar></app-navbar>

<div style="margin-top: 120px;margin-bottom: 100px;background-image: url(https://wallpaperaccess.com/full/655045.jpg);">
<h1>3D Carousel</h1>

<div class="carousel_wrapper">
    <div class="carousel">
        <div class="slide one">
            <img src="assets/images/carousel/image_01.jpg" />
        </div>
        <div class="slide two">
            <img src="assets/images/carousel/image_02.jpg" />
        </div>
        <div class="slide three">
            <img src="assets/images/carousel/image_03.jpg" />
        </div>
        <div class="slide four">
            <img src="assets/images/carousel/image_04.jpg" />
        </div>
        <div class="slide five">
            <img src="assets/images/carousel/image_01.jpg" />
        </div>
        <div class="slide six">
            <img src="assets/images/carousel/image_06.jpg" />
        </div>
        <div class="slide seven">
            <img src="assets/images/carousel/image_07.jpg" />
        </div>
        <div class="slide eight">
            <img src="assets/images/carousel/image_08.jpg" />
        </div>
        <div class="slide nine">
            <img src="assets/images/carousel/image_09.jpg" />
        </div>
    </div><!-- / .carousel -->
</div><!-- / .carousel_wrapper -->
</div>

